@import 'normalize.css';
* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

.section-inner {
  width: 1180px;
  margin: 0 auto;
}

/* -- header -- */
.section-header {
  color: white;
  background: url("../pic/internet-search-engine.jpg") no-repeat 50% 50%;
  background-size: cover;
  position: relative;
}
.section-header .section-inner {
  height: 100vh;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
}
.section-header::before {
  content: "";
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(32, 57, 65, 0.6);
}
.section-header-logo {
  font-weight: bold;
  font-size: 24px;
  flex-shrink: 1;
  color: honeydew;
  padding-top: 35px;
}
.section-header-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.section-header-wrapper {
  margin: 0 auto;
}
.section-header-wrapper__title, .section-header-wrapper__subtitle {
  text-align: center;
}
.section-header-wrapper__title {
  font-weight: bold;
  font-size: 56px;
  line-height: 60px;
  margin-bottom: 16px;
}
.section-header-wrapper__subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 32px;
  margin: 0 auto 44px;
  width: 80%;
}
.section-header-wrapper__form {
  display: flex;
}
.section-header-wrapper__form-input {
  flex: 1;
  padding-right: 40px;
}
.section-header-wrapper__form-input input {
  font-family: "Montserrat", sans-serif;
  border: none;
  background: rgba(255, 255, 255, 0.25);
  color: white;
  font-size: 16px;
  margin: 0;
  padding: 16px 20px;
  outline: none;
  border-radius: 5px;
  width: 100%;
}
.section-header-wrapper__form-input input::placeholder {
  color: #fff;
}
.section-header-wrapper__form-button button {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 16px 20px;
  border: none;
  background: rgba(1, 39, 255, 0.5);
  color: white;
  outline: none;
  border-radius: 5px;
  width: 100%;
}