@import 'normalize.css';

// Maxins
@mixin font-lato{
    font-family: 'Lato', sans-serif;
}

@mixin font-montserrat{
    font-family: 'Montserrat', sans-serif;
}

$color-white: #fff;

*{
    box-sizing: border-box;
}

body{
    @include font-lato;
}

.section-outer{}
.section-inner{
    width: 1180px;
    margin: 0 auto;
}

/* -- header -- */
.section-header{
    color: white;
    background: url('../pic/internet-search-engine.jpg') no-repeat 50% 50%;
    background-size: cover;

    .section-inner{
        height: 100vh;
        position: relative;
        z-index: 10;
        display: flex;
        flex-direction: column;
    }


    &::before{
        content: '';
        position: absolute;
        z-index: 5;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba($color: #203941, $alpha: .6);
    }


    &-logo{
        font-weight: bold;
        font-size: 24px;
        flex-shrink: 1;
        color: honeydew;
        padding-top: 35px;
    }
    &-content{
        flex-grow: 1;
        display: flex;
        align-items: center;
    }
    &-wrapper{
        &__title,
        &__subtitle{
            text-align: center;
        }
        
        &__title{
            font-weight: bold;
            font-size: 56px;
            line-height: 60px;
        }
        &__subtitle{
            @include font-montserrat;
            font-size: 18px;
            line-height: 32px;
            margin-bottom: 44px;
        }
        &__form{
            display: flex;

            &-input{
                flex: 1;
                padding-right: 40px;

                input{
                    @include font-montserrat;

                    border: none;
                    background: rgba(255, 255, 255, .25);
                    color: white;
                    font-size: 16px;
                    margin: 0;
                    padding: 16px 20px;
                    outline: none;
                    border-radius: 5px;
                    width: 100%;

                    &::placeholder{
                        color: #fff;
                    } 
                }
            }
            &-button{
                button{
                    @include font-montserrat;

                    font-size: 18px;
                    margin: 0;
                    padding: 16px 20px;
                    border: none;
                    background: rgba(1, 39, 255, 0.5);
                    color: white;
                    outline: none;
                    border-radius: 5px;
                    width: 100%;

                }
            }
        }
    }
}
